/* RESPONSIVE WEBSITE TABLET AND MOBIlES */

@media  screen and (max-width: 1260px){
  
  body{
   width: 100%;
   background-color: black;
   }
   
   nav{
    
      flex-direction: column;
      
     
    }
    .logo{
      width: 100%;
      height: 70px;
      justify-content: center;
      align-items: center;

    }
    .logo img {
      width: 220px;
      height: 40px;
      
  }
    .menu{
      width: 100%;
      height: 70px;
      justify-content: center;
      align-items: center;
    }
    li a:not(.color,.active) {
    
      
      padding: 11px 13px;
      font-size: 13px;
      
  }
  .active{
    padding: 11px 28px;
    font-size: 13px;
  }
  .color{
    background-color:#f58560;
    color: white;
    padding: 3px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
.search{
  
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding-right: 65px;
}
.pr{
  font-size: 11px;
}
#v{
  background-color:#f58560;
  font-size: 18px;
  padding: 3px 3px;
  border-radius: 50%;
  margin-left: 6px;
}
.services-container 
{
  
  flex-wrap: wrap;
  justify-content: center;
  
}
.services-container .service{
  width: 195px;
  padding: 22px 13px;
  /* 295px; */
  /* 22px 88px */
}


.title h1{
  margin-top: 76px;
  font-size: 40px;
  
}
.title p{
  font-size: 11px;
}
.btn1 a{
  padding: 12px 55px;
  font-size: 20px;
}

.btn2 a{
 
  padding: 7px 23px;
  font-size: 18px;
  
  
}
.btn2{
 
  margin-bottom: -18px;
 
 }  
#k{
  font-size: 102px;
  margin-bottom: 23px;

}
.service h2{
  font-size: 12px;
}
.footer{

 flex-wrap: wrap;
 justify-content: center;
 
  
}
.ftr{
  margin-top: 30px;
  margin-left: 15px;
}
.ftr h2{
  font-size: larger;
}
.footer p{
  font-size: 13px;
}

.one{
  width: 250px;
}
.two{
  width: 250px;
}
.three{
  width: 250px;
}
.four{
  width: 250px;
}


/*
.one{
  width: 225px;
}
.two{
  width: 230px;
}
.three{
  width: 215px;
}
.four{
  width: 158px;
}
*/
.portfolios{
  flex-wrap: wrap;
 justify-content: center;
  
  
}
.available-offers{
  flex-wrap: wrap;
  justify-content: center;
}
.ofr{
  width: 307px;

}
.offers-container h1{
  font-size: 23px;
}
.testimonials p{
  font-size: 13px;
}
.portfolios .prtfl{
  width: 240px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.prtfl img{
  height: 200px;
}

.our-portfolio h1{
  font-size: 19px;

}

.btn3 a{
  font-size: x-small;
  padding: 7px;
  
}
}